In [1]:
# Loading necessary packages
import pandas as pd

/Users/user/miniconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# File paths. Change according to your local directory paths
code_repo_dir = '/Users/user/Documents/Codes/H5N1/H5N1-State-and-County-Simulations-and-Analysis/'

input_sub_dir = 'data/raw/'
input_filename = 'cattle_FLAPS_for_USAMMv3.txt'
input_filepath = code_repo_dir + input_sub_dir + input_filename

output_sub_dir = 'data/processed/'
output_filename = 'dairy_cows_by_premises.csv'
output_filepath = code_repo_dir + output_sub_dir + output_filename

In [3]:
# Load the FLAPS file that contain information of cattle per premises (eg. farm)
cattle_by_premises = pd.read_csv(input_filepath, sep = "\t")
cattle_by_premises[cattle_by_premises.type == "d"]

            Id  County       X        Y        Lat         Lon type  b   d
53      757624    1001  844489 -8813162  32.590559  -86.803342    d  0  16
118     757844    1001  875641 -8810000  32.591639  -86.467205    d  0  13
126     757842    1001  875678 -8815462  32.543002  -86.472609    d  0  15
229     756096    1003  765523 -9041656  30.615888  -87.854986    d  0   4
245     756766    1003  799779 -9063597  30.393238  -87.517768    d  0   2
...        ...     ...     ...      ...        ...         ...  ... ..  ..
815615  729298   56043 -972175 -7522047  43.910056 -108.098869    d  0   2
815616  729318   56043 -964822 -7520318  43.933834 -108.010241    d  0   2
815749  730103   56045 -656624 -7562069  43.857095 -104.114942    d  0   4
815781  730094   56045 -655476 -7534925  44.100281 -104.130074    d  0   7
815790  730099   56045 -655124 -7538829  44.065695 -104.121427    d  0   4

[63984 rows x 9 columns]

In [5]:
# Filter rows by cattle type 'd' (for dairy cow) and select the columns: Premises Id (Id), 
# County FIPS (County), Lat, Lon, Number of dairy cattle in premises (d) 
dairy_cows_by_premises = cattle_by_premises.loc[
    cattle_by_premises.type == "d",  ['Id', 'County', 'Lat', 'Lon', 'd']
].reset_index(drop=True)
dairy_cows_by_premises.to_csv(output_filepath, index=False)